<% if subtask.title %>
  <li class="<%= "completed" if subtask.completed? %>" id="<%= dom_id(subtask) %>">
    <div class="view">
      <%= form_for(subtask, url: toggle_subtask_path(subtask), method: :post) do |f| %>
        <%= f.check_box :completed, class: "toggle", "data-behavior" => "submit_on_check" %>
      <% end %>
      <label><%= subtask.title %></label>
      <%= form_for(subtask, method: :delete, remote: true) do |f| %>
        <button type="submit" class="destroy"></button>
      <% end %>
    </div>
  </li>
<% else %>
  <li id="<%= dom_id(subtask) %>" class='subtask-edit'>
    <%= check_box_tag :completed, '', false, class: "toggle" %>
    <%= form_for(subtask, url: subtask_path(subtask)) do |f| %>
      <%= f.text_field :title, class: 'new-subtask', placeholder: "Add a subtask of \"#{subtask.todo.title}\"" %>
    <% end %>
    <%= form_for(subtask, method: :delete, remote: true) do |f| %>
      <button type="submit" class="destroy"></button>
    <% end %>
  </li>
<% end %>
